/* General reset for the body */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1{
    display: flex;
    justify-content: center;

}

form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}


label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

/* Style for the submit button */
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 600px) {
    form {
        padding: 15px;
    }

    label {
        font-size: 14px;
    }
}